@font-face
{
	src: url('TruenoBd.otf');
	font-family: TruenoBold;
}

@font-face
{
	src: url('TruenoLt.otf');
	font-family: Trueno;
}

body
{
	background-color: #444;
	color: #fff;
	font-family: Trueno;
    margin-left: 20%;
    margin-right: 20%;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}

#logo
{
	text-align: center; 
	font-size: 52px;
}

#form1 
{
}

#register
{
    width: 50%;
    border: 20px #fff dashed;
    border-radius: 20px;
    padding: 30px;
    font-size: 1.1em;
}

label
{
	display: block;
	padding: 10px;
}